.body.pc-body:before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1 !important;
    background: url(https://i.ibb.co/chNyNB2/pest-control-bg.png) no-repeat !important;
    filter: none !Important;
    background-size: cover !important;
    z-index: -1;
    top: 0;
}